.footer_column{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width:90%;
    position:relative;
    margin-top:60px;
    
  }
  
  .footer_column_content_copyright{
    flex-basis: 711px;
    height: 250px;
    position:relative;
  }
  
  .footer_author{
    font-size:18px;
    height:18px;
    position: absolute;
    bottom:18px;
  }
  
  .footer_column-heading{
    font-size:18px;
    font-weight: 600;
    line-height: 30px;
  }
  
  .footer_link{
    line-height:30px;
    font-size: 18px;
    color:white;
  }