.feynman{
    display:flex;
    display:flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    height:100vh;
    min-height: 756px;
    max-height: 892px;
    background-color: #f2f2f2;
  }