.section-title{
    width:60%;
    line-height:1.15;
    font-size:60px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0px;
    z-index: 4;
  }
  .section-title_theme_dark{
    color:white;
    margin-top:90px;
  }
  .section-subtitle_theme_dark{
    color:white;
  }
  
  .section-subtitle{
    width:60%;
    z-index: 4;
    font-size:24px;
    text-align: center;
    font-weight: 400;
    line-height:34px;
  }